{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<html xmlns="http://www.w3.org/1999/html">
<body class="container-fluid">

<nav class="navbar fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">Easy - SNP</a>
                <form class="d-flex btn-group">
                    <a href="http://127.0.0.1:8000/home/"><button type="button" class="btn btn-primary" >Home</button><br></a>
                    <a href="http://127.0.0.1:8000/ncbi/"><button type="button" class="btn btn-primary" >Tool</button></a>
                    <a href="http://127.0.0.1:8000/downloads/"><button type="button" class="btn btn-primary" >Downloads</button></a>
                    <a href="http://127.0.0.1:8000/contact/"><button type="button" class="btn btn-primary" >Contact</button></a>
                </form>
        </div>
    </nav>
</br>
</br>
</br>
</br>
<h1>Tool</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        NCBI
      </button>

    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">


    <form class="row g-3" method="post" action="actor/" id="hideOnCLick">
        <div class="col-auto">
            <label  class="visually-hidden" >snp</label>
                <input type="text" readonly class="form-control-plaintext"  value="SNP - Database">
        </div>
        <div class="col-auto">
            <label  class="visually-hidden"></label>
                <input type="text" class="form-control" id="term" placeholder="input gene id" name="geneid" required="required">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" >Search</button>
        </div>
        <div class="col-auto form-check form-switch">
            <input class="form-check-input" type="checkbox" name="filter" checked disabled>
                <label  class="form-check-label">missense</label>
        </div>
    </form>
</hr>
</hr>

<div class="form" >
  <div class="card-body">
    <h5  class="card-title">{{searchterm}} | Applied Filter : Missense</h5>
  </div>
  <div class="card" >
  <div class="card-body">
      <h5 class="card-title" id="singlecount">{{snpcount }} <a href="{% url 'id_txt' %}"><button> {{ button1 }}</button></a></h5>
  </div>
</div>

    {% for i in searchedids%}
    <div class="card">
       <form class="form" method="post" action="idinfo/">
        <div class="card-body" style="border: #0f0f0f">
            {{reference}}<input readonly name="currentid" value={{ i }} style="border: white">
            <input type="submit" class="btn btn-info" placeholder="More Info">
            </br>
            </hr>

        </div>
    </form>


    </div>
{% endfor %}
</br>

        </div>
    </div>
  </div>



</div>

 </div>



<div class="accordion-item">
    <h2 class="accordion-header" id="headingtwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
        EMBL-EBI
      </button>

    </h2>
    <div id="collapsetwo" class="accordion-collapse collapse show" aria-labelledby="headingtwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">


    <form class="row g-3" method="post" action="actortwo/" id="hideOnCLick2">
        <div class="col-auto">
            <label  class="visually-hidden" >geneid</label>
                <input type="text" readonly class="form-control-plaintext"  value="EMBL-EBI - Database">
        </div>
        <div class="col-auto">
            <label  class="visually-hidden"></label>
                <input type="text" class="form-control" id="termforemblebi" placeholder="input gene id" name="geneid" required="required">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" >Search</button>
        </div>

    </form>
</hr>
</hr>





</div>

 </div>
</div>


<div class="accordion-item">
    <h2 class="accordion-header" id="headingthree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
        UniProt
      </button>

    </h2>
    <div id="collapsethree" class="accordion-collapse collapse show" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
        <div class="accordion-body">


    <form class="row g-3" method="post" action="actorsix/" id="hideOnCLick3">
        <div class="col-auto">
            <label  class="visually-hidden" >Input Individual Id</label>
                <input type="text" readonly class="form-control-plaintext"  value="Uniprot - Database">
        </div>
        <div class="col-auto">
            <label  class="visually-hidden"></label>
                <input type="text" class="form-control" id="uniprot" placeholder="input gene id" name="geneid" required="required">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" >Search</button>
        </div>

    </form>
</hr>
</hr>





</div>

 </div>
</div>
</body>


</html>


